<div class="container">
  <h1 class="display-1 spacer">Limited Subscriptions</h1>
  <h2 class="display-4 spacer">Paperback</h2>
  <div class="row">
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Paperback 2</h2>
        <p class="card-text">Take out 2 paperback books at once! Once you return them, your next books will ship out on your anniversary date!</p>
        <p>£8.00/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Paperback 4</h2>
        <p class="card-text">Take out 4 paperback books at once! Once you return them, your next books will ship out on your anniversary date!</p>
        <p>£12.00/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Paperback 6</h2>
        <p class="card-text">Take out 6 paperback books at once! Once you return them, your next books will ship out on your anniversary date!</p>
        <p>£19.00/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <h2 class="display-4 spacer">Audiobooks</h2>
  <div class="row">
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Audiobook 1</h2>
        <p class="card-text">Take out 1 audiobook! Once you finish it, your next one will be available on your anniversary date!</p>
        <p>£10.00/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Audiobook 4</h2>
        <p class="card-text">Take out 4 audiobook! Once you finish it, your next four will be available on your anniversary date!</p>
        <p>£12.50/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-lg-4 text-center card">
      <div class="card-body">
        <h2 class="card-title">Audiobook 6</h2>
        <p class="card-text">Take out 6 audiobook! Once you finish it, your next six will be available on your anniversary date!</p>
        <p>£19.00/month</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <hr/>
</div>
