<div class="row text-center">

  <%= render 'unlimited' %>

  <%= render 'limited' %>

</div>
<div class="text-center">
  <%= link_to 'Back', root_path, id: "back", :class => "btn btn-secondary btn-sm btn-block" %>
</div>


