<div>
  <div class="accordion" id="accordionMemberships">
  <div class="card row text-center">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Unlimited Plans
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionMemberships">
      <div class="card-body row text-center">
        <div class="card" style="width: 18rem;">

          <div class="card-body col">
            <h5 class="card-title">Paperback 2</h5>
            <p class="card-text">Take out 2 paperback books at once! Once you return them, your next two will ship out.</p>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Unlimited - Paperback 2"
              data-amount="999"
              data-currency="gbp"
              data-panelLabel="Subscribe for"
              data-label="Subscribe"
              data-locale="auto"
              <%= form.hidden_field :plan, value: 1 %>></script>
          </div>
        </div>
<!--








-->
        <div class="card" style="width: 18rem;">
          <div class="card-body col">
            <h5 class="card-title">Paperback 4</h5>
            <p class="card-text">Take out 4 paperback books at once! Once you return them, your next four will ship out.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div class="card-body col">
            <h5 class="card-title">Paperback 6</h5>
            <p class="card-text">Take out 6 paperback books at once! Once you return them, your next six will ship out.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMemberships">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMemberships">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
</div>
