<div class="row justify-content-center">
  <h1 class="display-2">Enter Your Details</h1>
</div>

<%= render 'form', member: @member %>

<div class="text-center">
  <%= link_to 'Back', root_path, id: "back", :class => "btn btn-secondary btn-sm btn-block" %>
</div>
